
.container {
    display:flex; 
    align-items:center;
    margin:0 auto;
}
.grid {
    display:grid;
    height:500px;
    width:500px;
    border:1px solid black;
}
.rangeSlider, .cell {
    user-select:none;
}

.range {
    display:flex;
    flex-direction:column;
}
@media (max-width:1000px) {
    .grid {
        height:270px;
        width:270px;
    }
}
@media (max-width:350px) {
    .grid {
        height:200px;
        width:200px;
    }
}