
.container {
    display:flex; 
    align-items:center;
    margin:0 auto;
}
.grid {
    display:grid;
    height:500px;
    width:500px;
    border:1px solid black;
}
.rangeSlider, .cell {
    user-select:none;
}

.range {
    display:flex;
    flex-direction:column;
}
@media (max-width:1000px) {
    .grid {
        height:270px;
        width:270px;
    }
}
@media (max-width:350px) {
    .grid {
        height:200px;
        width:200px;
    }
}
.title {
    text-align:center;
    font-size:2rem;
}
.container {
    display:flex;
    justify-content:center;
}
.main {
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.eraseBlock, .clearDrawing {
    margin:0 auto;
}
.deactivated {
    border:1px solid red;
}
.activated {
    border:1px solid green;
}